{% extends 'order/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% for entry in all_entries %}
      <div class="card">
        <div class="container">
          <h4><b>Date Ordered : {{ entry.date_ordered }}</b></h4>
          <p>Amount_paid : {{ entry.cost }}</p>
          <p>payment_status : {{ entry.payment_status }}</p>
          <p>printing_status : {{ entry.printing_status }}</p>
          {% if shopkeeper_status %}
            <p>customer_name : {{ entry.customer_name }}</p>
            <p>Customer_email : {{ entry.customer_email }}</p>
            <p> <a href="{% url 'download' entry.docfile %}" class="btn btn-primary btn-large">Download document</a> 
              <a href="{% url 'change' entry.order_id %}" class="btn btn-primary btn-large">Change Printing Status</a> </p>
            <div>
              <form action="{% url 'valid' entry.order_id %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">Submit</button>
              </form>
            </div>
          {% else %}
            <p>OTP: {{entry.OTP}}</p>
          {% endif %}
          
        </div>
      </div>
    {% endfor %}
{% endblock %}