{% extends "payment/layout.html" %}
{% block content %}
	<div class="col-6 mx-auto">
		<div class="text-center mt-5">
			<img src="/media/payment.png" class="img-fluid img-responsive" style="height: 300px; border-radius: 50%; margin-top: 50px; margin-bottom: 50px;" >
			
		</div>
		<form method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-success btn-block">Submit</button>
		</form>
	</div>
	{% if order %}
		<div class="text-center mx-auto">
			<form action="success/" method="POST">
				<script
				src="https://checkout.razorpay.com/v1/checkout.js"
				data-key="rzp_test_aBF0M5yvtP4PDr" 
				data-amount="{{ order.amount }}"  
				data-currency="INR"
				data-order_id="{{order.id}}"
				data-buttontext="Pay with Razorpay"
				data-name="IITG Printing Portal"
				data-description="Hope you have a good Experience!"
				data-image="/media/iitg.png"
				data-theme.color="#006A71"
				></script>
				<input type="hidden" custom="Hidden Element" name="hidden">
			</form>
		</div>
	{% endif %}
{% endblock %}